.list-of-tasks{
    display: flex;
    align-items: center;
}

.menu, .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.checkbox{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.list-of-tasks p{
    margin-left: 8px;
    width: 598px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}