.body {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 0px;
    width: 1212px;
}

.todo,
.done,
.trash {
    width: 84px;
    height: 40px;
    border-radius: 100px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    /* color: #081E34;
    background: linear-gradient(0deg, rgba(8, 30, 52, 0.05), rgba(8, 30, 52, 0.05)), #F0F0F0;     */
}

.add-new-task {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #081E34, #081E34), #F0F0F0;
    border-radius: 100px;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
}

.categories {
    display: flex;
    gap: 16px;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    width: 268px;
    height: 234px;
    left: 795px;
    top: 122px;
    background: #E4E6E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    position: absolute;
}

.modal p {
    width: 236px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #151517;
}

.modal-text-area {
    width: 236px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #959595;
    padding: 12px;
}

.modal-add-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;
    width: 76px;
    height: 40px;
    background: linear-gradient(0deg, #081E34, #081E34), #F0F0F0;
    border: none;
    border-radius: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: white;
}



.to-do-header{
    width: auto;
    height: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #151517;
    border-bottom: 2px solid #C5C5C5;
    padding: 0px 0px 52px 0px;
}


.list-of-tasks{
    display: flex;
    align-items: center;
}

.menu, .checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.checkbox{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.list-of-tasks p{
    margin-left: 8px;
    width: 598px;
    height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
}

.modal-delete{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 33px;
    background: #E4E6E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
}

.delete{
    width: 10.89px;
    height: 14px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
}

.move-to-trash{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #353535;
    border: none;
    background-color: transparent;
    height: 16px;
    width: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}